@font-face {
    font-family: "Open Sans";
    src: url(/public/fonts/OpenSans-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Open Sans";
    src: url(/public/fonts/OpenSans-LightItalic.ttf) format("truetype");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "Open Sans";
    src: url(/public/fonts/OpenSans-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Open Sans";
    src: url(/public/fonts/OpenSans-Italic.ttf) format("truetype");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Open Sans";
    src: url(/public/fonts/OpenSans-Semibold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Open Sans";
    src: url(/public/fonts/OpenSans-SemiboldItalic.ttf) format("truetype");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: "Open Sans";
    src: url(/public/fonts/OpenSans-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Open Sans";
    src: url(/public/fonts/OpenSans-BoldItalic.ttf) format("truetype");
    font-weight: bold;
    font-style: italic;
}
html,body,table,tr,th,td,div,p,ul,ol,li,form,pre,a,img,h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    border: none;
    font-weight: normal;
    color: #505050;
}
html,body {
    /* min-width: 1200px; */
    /* min-height: 700px; */
    height: 100%;
}
body {
    font-family: "Open Sans",Arial,Helvetica,sans-serif,Serif;
    background-color: #e9e9e9;
    color: #444444;
    min-width: 1400px;
}
a {
    cursor: pointer;
}
a,tr,img,span,input {
    transition: all ease-in-out .15s;
    -o-transition: all ease-in-out .15s;
    -webkit-transition: all ease-in-out .15s;
    -moz-transition: all ease-in-out .15s;
}
/*
input[type=text], textarea, select {
    transition: all ease-in-out .40s;
    -o-transition: all ease-in-out .40s;
    -webkit-transition: all ease-in-out .40s;
    -moz-transition: all ease-in-out .40s;
}
*/
h1,h2,h3,h4,h5,h6 {
    text-align: left;
    vertical-align: middle;
    font-weight: 600;
}
.h1 {
    color: #444444;
    padding: 15px 0 8px 0;
    line-height: 16px;
    font-size: 16px;
}
.h2 {
    color: #444444;
    padding: 15px 0 8px 0;
    line-height: 15px;
    font-size: 15px;
}
.h3 {
    color: #444444;
    padding: 15px 0 8px 0;
    line-height: 14px;
    font-size: 14px;
}
.h4 {
    color: #555555;
    padding: 15px 0 8px 0;
    line-height: 13px;
    font-size: 13px;
}
::selection, ::-moz-selection {
    text-shadow: none;
}
::-moz-selection {
    background-color: #333333;
    color: #ffffff;
    text-shadow: none;
}
::-webkit-selection {
    background-color: #333333;
    color: #ffffff;
    text-shadow: none;
}    
::selection {
    background-color: #333333;
    color: #ffffff;
    text-shadow: none;
}
