.btn {
    position: relative;
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    margin: 2px;
    padding: 8px 14px;
    cursor: pointer;
    line-height: 14px;
    font-size: 13px;
}
.inlinefix { /* inline-block sucks - we known that all */
    font-size: 0px;
    letter-spacing: 0px;
    word-spacing: 0px;
}
.btn-group {
    font-size: 0;
    letter-spacing: 0;
    word-spacing: 0;
    position: relative;
}
.btn-group > .btn:first-child,
.btn-group > .btn-dropdown:first-child > .btn,
.btn-group > .btn-dropdown-toggle:first-child > .btn {
}
.btn-group > .btn,
.btn-group > .btn-dropdown > .btn,
.btn-group > .btn-dropdown-toggle > .btn {
    margin-left: 1px !important;
    margin-right: 0 !important;
}
.btn-group > .btn:last-child,
.btn-group > .btn-dropdown:last-child > .btn,
.btn-group > .btn-dropdown-toggle:last-child > .btn {
}
.btn-even-tiny {
    width: 14px;
}
.btn-even-mini {
    width: 20px;
}
.btn-even-small {
    width: 40px;
}
.btn-even-medium {
    width: 50px;
}
.btn-even-default {
    width: 60px;
}
.btn-even-tall {
    width: 80px;
}
.btn-even-large {
    width: 100px;
}
.btn-even-huge {
    width: 150px;
}
.btn-even-giant {
    width: 200px;
}
.btn-even-full {
    width: 80%;
    text-align: left;
}
.btn-select-tiny {
    width: 50px;
}
.btn-select-mini {
    width: 100px;
}
.btn-select-small {
    width: 200px;
}
.btn-select-medium {
    width: 300px;
}
.btn-select-default {
    width: 400px;
}
.btn-select-tall {
    width: 500px;
}
.btn-select-large {
    width: 600px;
}
.btn-select-huge {
    width: 700px;
}
.btn-select-giant {
    width: 800px;
}
.btn-big-rounded {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.btn-icon-even {
    width: 56px;
    font-size: 12px;
    padding: 7px 0;
}
.btn-icon {
    padding: 6px 12px;
}
.btn-small-icon {
    margin: 0 !important;
    padding: 2px;
}
.btn-tiny{
    line-height: 12px;
    font-size: 12px;
    padding: 5px 8px;
}
.btn-small {
    line-height: 15px;
    font-size: 13px;
    padding: 6px 10px;
}
.btn-medium {
    line-height: 14px;
    font-size: 13px;
    padding: 8px 12px;
}
.btn-default {
    line-height: 14px;
    font-size: 13px;
    padding: 8px 14px;
}
.btn-tall {
    line-height: 14px;
    font-size: 14px;
    padding: 8px 14px;
}
.btn-large {
    line-height: 15px;
    font-size: 15px;
    padding: 8px 14px;
}
.btn-huge {
    line-height: 16px;
    font-size: 16px;
    padding: 8px 14px;
}
.btn-giant {
    line-height: 18px;
    font-size: 18px;
    padding: 8px 14px;
}
.btn-caret {
    width: 0;
    height: 0;
    display: inline-block;
    content: "";
    vertical-align: top;
}
.btn-tiny .btn-caret, .btn-small .btn-caret {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top-width: 4px;
    border-top-style: solid;
    margin-top: 4px;
    margin-left: 2px;
}
.btn-medium .btn-caret, .btn-default .btn-caret {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top-width: 5px;
    border-top-style: solid;
    margin-top: 5px;
    margin-left: 3px;
}
.btn-tall .btn-caret, .btn-large .btn-caret {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top-width: 6px;
    border-top-style: solid;
    margin-top: 6px;
    margin-left: 4px;
}
.btn-huge .btn-caret, .btn-giant .btn-caret {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top-width: 6px;
    border-top-style: solid;
    margin-top: 10px;
    margin-left: 4px;
}
.btn-white .btn-caret {
    border-top-color: #555555;
}
.btn-dark .btn-caret {
    border-top-color: #cccccc;
}
.btn-white {
    color: #ffffff;
    background-color: #9c9c9c;
}
.btn-white:hover {
    color: #ffffff;
    background-color: #585858;
}
.btn-white:active {
    color: #ffffff;
    background-color: #585858;
}
.btn-dark {
    color: #ffffff;
    background-color: #4d4d4d;
}
.btn-dark:hover {
    color: #ffffff;
    background-color: #202020;
}
.btn-dark:active {
    color: #ffffff;
    background-color: #202020;
}
.btn-dropdown, .btn-dropdown-toggle {
    display: inline-block;
}
.btn-dropdown ul, .btn-dropdown-toggle ul {
    display: none;
    position: absolute;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 10px 0;
    margin-left: 2px;
    font-size: 13px;
    line-height: 13px;
    border: 1px solid #d1d1d1;
    background-color: #ffffff;
    z-index: 10003;
    /*-webkit-box-shadow: 3px 3px 3px rgba(241,241,241,0.4);
    -moz-box-shadow: 3px 3px 3px rgba(241,241,241,0.4);
    box-shadow: 3px 3px 3px rgba(241,241,241,0.4);*/
}
.btn-dropdown:hover ul {
    display: block;
}
.btn-dropdown ul li, .btn-dropdown-toggle ul li {
    list-style-type: none;
    text-align: left;
}
.btn-dropdown ul li a, .btn-dropdown-toggle ul li a {
    color: #333333;
    display: block;
    margin: 0;
    padding: 4px 10px;
    text-decoration: none;
    text-align: left;
}
.btn-dropdown ul li a:hover, .btn-dropdown-toggle ul li a:hover {
    color: #ffffff;
    background-color: #009ac8;
}
.btn-selected {
    color: #00ffff;
    background-color: #585858;
}
.btn-hovered {
    color: #009ac8;
}
.btn-icon-selected {
    opacity: .96;
}
.btn-icon-unselected {
    opacity: .6;
}
.caret-down {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333333;
    display: inline-block
}
.caret-up {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #333333;
    display: inline-block
}
.caret-right {
    width: 0; 
    height: 0; 
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #333333;
    display: inline-block
}
.caret-left {
    width: 0; 
    height: 0; 
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #333333;
    display: inline-block
}
