.chart-selection {
    width: 800px;
}
.chart-selection-outer {
    padding: 5px;
}
.chart-selection-header {
    font-size: 14px;
    font-weight: bold;
    margin: 8px 0;
    position: relative;
}
.chart-selection-header-icons {
    top: 1px;
    right: 0;
}
.chart-selection-content {
    border: 1px dashed #a1a1a1;
    min-height: 150px;
    list-style-type: none;
    padding: 5px;
}
.chart-selection-content li {
    display: block;
    margin-bottom: 4px;
    padding: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #e4e4e4;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #dddddd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dddddd));
    background: -webkit-linear-gradient(top, #ffffff 0%,#dddddd 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#dddddd 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#dddddd 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#dddddd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 );
    color: #116c77;
    font-size: 13px;
    line-height: 18px;
    text-shadow: 1px 1px 1px #ffffff;
    cursor: pointer;
    position: relative;
}
.chart-selection-content-icons {
    top: 2px;
    right: 2px;
}
.chart-selection-service-table {
    width: 550px;
    float: left;
}
.chart-selection-services-selected {
    width: 360px;
    min-height: 100px;
    border: 1px dashed #a1a1a1;
    margin: 30px 10px 10px 10px;
    padding: 5px;
    float: left;
}
.chart-selection-services-selected ul {
    list-style-type: none;
}
.chart-selection-services-selected ul li {
    font-size: 13px;
    line-height: 14px;
    display: block;
    position: relative;
    padding: 2px 4px;
    cursor: pointer;
}
.chart-selection-services-selected ul li:hover {
    background-color: #e1e1e1;
}
.color-picker-icon {
    width: 14px;
    height: 14px;
    line-height: 14px;
    border: 1px solid #a1a1a1;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.hex-color-picker-wrapper {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 240px;
    padding: 10px;
    border: 1px solid #e1e1e1;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    line-height: 0;
    -webkit-box-shadow: 0 12px 6px -6px #aaaaaa;
    -moz-box-shadow: 0 12px 6px -6px #aaaaaa;
    box-shadow: 0 12px 6px -6px #aaaaaa;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #f9f9f9;
    background: -moz-linear-gradient(top, #f9f9f9 0%, #eaeaea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#eaeaea));
    background: -webkit-linear-gradient(top, #f9f9f9 0%,#eaeaea 100%);
    background: -o-linear-gradient(top, #f9f9f9 0%,#eaeaea 100%);
    background: -ms-linear-gradient(top, #f9f9f9 0%,#eaeaea 100%);
    background: linear-gradient(to bottom, #f9f9f9 0%,#eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#eaeaea',GradientType=0 );
}
