#footer-outer {
    width: 100%;
    height: 40px;
    bottom: 0px;
    position: fixed;
    color: #eeeeee;
    clear: both;
    background-color: #424242;
    overflow: hidden;
    z-index: 5;
}
#footer-inner {
    margin: 0;
    padding: 0 2px;
    display: -webkit-flex;
    -webkit-flex-wrap: nowrap;
    display: flex;
    flex-wrap: nowrap;
}
#footer-left {
    order: 1;
    text-align: left;
}
#footer-middle {
    order: 2;
    text-align: center;
}
#footer-right {
    order: 3;
    text-align: right;
}
#footer-left, #footer-middle, #footer-right {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    white-space: nowrap;
    margin: 0;
}
#footer-left span, #footer-right span {
    font-size: 13px;
    padding: 6px 10px;
    margin: 7px 1px;
    color: #ffffff;
    background-color: #525252;
    display: inline-block;
    vertical-align: middle;
}
#footer-left span:hover {
    background-color: #202020;
}
.footer-button {
    cursor: pointer;
    color: #009ac8 !important;
}
