#footer {
    width: 100%;
    min-width: 1200px;
    height: 40px;
    bottom: 0px;
    position: absolute;
    color: #eeeeee;
    clear: both;
    background-color: #303030;
    overflow: hidden;
    z-index: 5;
}
#footer-left {
    width: 26%;
    text-align: left;
    margin: 0;
    display: inline-block;
}
#footer-middle {
    width: 48%;
    text-align: center;
    margin: 0;
    display: inline-block;
}
#footer-right {
    width: 26%;
    text-align: right;
    margin: 0;
    display: inline-block;
}
#footer-left span, #footer-right span {
    font-size: 13px;
    padding: 6px 10px;
    margin: 7px 2px;
    color: #ffffff;
    background-color: #3d3d3d;
    display: inline-block;
    vertical-align: middle;
}
#footer-left span:hover {
    background-color: #000000;
}
.footer-button {
    cursor: pointer;
    color: #009ac8 !important;
}
