#footer {
    width: 100%;
    min-width: 1200px;
    height: 40px;
    bottom: 0px;
    position: absolute;
    color: #eeeeee;
    clear: both;
    background: rgba(0,0,0,.8);
    border-top: 1px solid #2a2a2a;
    border-bottom: 1px solid #2a2a2a;
    overflow: hidden;
    z-index: 5;
}
#footer-left {
    width: 26%;
    text-align: left;
    margin: 0;
    display: inline-block;
}
#footer-middle {
    width: 48%;
    text-align: center;
    margin: 0;
    display: inline-block;
}
#footer-right {
    width: 26%;
    text-align: right;
    margin: 0;
    display: inline-block;
}
#footer-left span, #footer-right span {
    font-size: 13px;
    padding: 6px 10px;
    margin: 7px 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #000000;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1);
    background: -webkit-linear-gradient(#414141,#292929);
    background: -moz-linear-gradient(#414141,#292929);
    background: -o-linear-gradient(#414141,#292929);
    background: linear-gradient(#414141,#292929);
    color: #d1d1d1;
    text-shadow: 1px 1px 1px #111111;
    display: inline-block;
    vertical-align: middle;
}
.footer-button {
    cursor: pointer;
    color: #009ac8 !important;
}
