.hicons {
    width: 14px;
    height: 14px;
    line-height: 14px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: transparent;
    display: inline-block;
    vertical-align: top;
    background-image: url(/public/img/glyphicons-halflings-black.png);
}
.hicons-btn {
    width: 14px;
    height: 14px;
    padding: 3px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    display: inline-block;
}
.hicons-btn:hover .hicons {
    opacity: 1;
}
.hicons-btn:hover {
    background-color: #e6e6e6;
}
.hicons-btn .hicons {
    opacity: .35;
}
.hicons-bubble {
    width: 300px;
    top: 18px;
    left: 18px;
    padding: 12px;
    position: absolute;
    background-color: #ffffff;
    z-index: 10004;
    -webkit-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
}
.hicons-bubble h2 {
    font-weight: normal;
    font-size: 17px;
    text-align: left;
    margin: 0 0 6px 0;
    color: #222222;
    white-space: normal;
}
.hicons-bubble h3 {
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    margin: 16px 0 6px 0;
    color: #662222;
    white-space: normal;
}
.hicons-bubble p {
    font-weight: normal;
    line-height: 18px;
    text-align: left;
    font-size: 13px;
    color: #222222;
    white-space: normal;
}
.hicons-bubble i {
    color: #660000;
}
.hicons-bubble small {
    font-size: 10px;
    text-align: left;
    margin-top: 10px;
    display: block;
    color: #222222;
}
.hicons-white {
    background-image: url(/public/img/glyphicons-halflings-white.png);
}
.hicons-gray {
    background-image: url(/public/img/glyphicons-halflings-gray.png);
}
.hicons.glass {
    background-position: 0 0;
}
.hicons.music {
    background-position: -24px 0;
}
.hicons.search {
    background-position: -48px 0;
}
.hicons.envelope {
    background-position: -72px 0;
}
.hicons.heart {
    background-position: -96px 0;
}
.hicons.star {
    background-position: -120px 0;
}
.hicons.star-empty {
    background-position: -144px 0;
}
.hicons.user {
    background-position: -168px 0;
}
.hicons.film {
    background-position: -192px 0;
}
.hicons.th-large {
    background-position: -216px 0;
}
.hicons.th {
    background-position: -240px 0;
}
.hicons.th-list {
    background-position: -264px 0;
}
.hicons.ok {
    background-position: -288px 0;
}
.hicons.remove {
    background-position: -312px 1px;
}
.hicons.zoom-in {
    background-position: -336px 0;
}
.hicons.zoom-out {
    background-position: -360px 0;
}
.hicons.off {
    background-position: -384px 0;
}
.hicons.signal {
    background-position: -408px 0;
}
.hicons.cog {
    background-position: -432px 0;
}
.hicons.trash {
    background-position: -456px 0;
}
.hicons.home {
    background-position: 0 -24px;
}
.hicons.file {
    background-position: -24px -24px;
}
.hicons.time {
    background-position: -48px -24px;
}
.hicons.road {
    background-position: -72px -24px;
}
.hicons.download-alt {
    background-position: -96px -24px;
}
.hicons.download {
    background-position: -120px -24px;
}
.hicons.upload {
    background-position: -144px -24px;
}
.hicons.inbox {
    background-position: -168px -24px;
}
.hicons.play-circle {
    background-position: -192px -24px;
}
.hicons.repeat {
    background-position: -216px -24px;
}
.hicons.refresh {
    background-position: -240px -24px;
}
.hicons.list-alt {
    background-position: -264px -24px;
}
.hicons.lock {
    background-position: -287px -24px;
}
.hicons.flag {
    background-position: -312px -24px;
}
.hicons.headphones {
    background-position: -336px -24px;
}
.hicons.volume-off {
    background-position: -360px -24px;
}
.hicons.volume-down {
    background-position: -384px -24px;
}
.hicons.volume-up {
    background-position: -408px -24px;
}
.hicons.qrcode {
    background-position: -432px -24px;
}
.hicons.barcode {
    background-position: -456px -24px;
}
.hicons.tag {
    background-position: 0 -48px;
}
.hicons.tags {
    background-position: -25px -48px;
}
.hicons.book {
    background-position: -48px -48px;
}
.hicons.bookmark {
    background-position: -72px -48px;
}
.hicons.print {
    background-position: -96px -48px;
}
.hicons.camera {
    background-position: -120px -48px;
}
.hicons.font {
    background-position: -144px -48px;
}
.hicons.bold {
    background-position: -167px -48px;
}
.hicons.italic {
    background-position: -192px -48px;
}
.hicons.text-height {
    background-position: -216px -48px;
}
.hicons.text-width {
    background-position: -240px -48px;
}
.hicons.align-left {
    background-position: -264px -48px;
}
.hicons.align-center {
    background-position: -288px -48px;
}
.hicons.align-right {
    background-position: -312px -48px;
}
.hicons.align-justify {
    background-position: -336px -48px;
}
.hicons.list {
    background-position: -360px -48px;
}
.hicons.indent-left {
    background-position: -384px -48px;
}
.hicons.indent-right {
    background-position: -408px -48px;
}
.hicons.facetime-video {
    background-position: -432px -48px;
}
.hicons.picture {
    background-position: -456px -48px;
}
.hicons.pencil {
    background-position: 0 -72px;
}
.hicons.map-marker {
    background-position: -24px -72px;
}
.hicons.adjust {
    background-position: -48px -72px;
}
.hicons.tint {
    background-position: -72px -72px;
}
.hicons.edit {
    background-position: -96px -72px;
}
.hicons.share {
    background-position: -120px -72px;
}
.hicons.check {
    background-position: -144px -72px;
}
.hicons.move {
    background-position: -168px -71px;
}
.hicons.step-backward {
    background-position: -192px -72px;
}
.hicons.fast-backward {
    background-position: -216px -72px;
}
.hicons.backward {
    background-position: -240px -72px;
}
.hicons.play {
    background-position: -264px -72px;
}
.hicons.pause {
    background-position: -288px -72px;
}
.hicons.stop {
    background-position: -312px -72px;
}
.hicons.forward {
    background-position: -336px -72px;
}
.hicons.fast-forward {
    background-position: -360px -72px;
}
.hicons.step-forward {
    background-position: -384px -72px;
}
.hicons.eject {
    background-position: -408px -72px;
}
.hicons.chevron-left {
    background-position: -432px -72px;
}
.hicons.chevron-right {
    background-position: -456px -72px;
}
.hicons.plus-sign {
    background-position: 0 -96px;
}
.hicons.minus-sign {
    background-position: -24px -96px;
}
.hicons.remove-sign {
    background-position: -48px -96px;
}
.hicons.ok-sign {
    background-position: -72px -96px;
}
.hicons.question-sign {
    background-position: -96px -96px;
}
.hicons.info-sign {
    background-position: -120px -96px;
}
.hicons.screenshot {
    background-position: -144px -96px;
}
.hicons.remove-circle {
    background-position: -168px -96px;
}
.hicons.ok-circle {
    background-position: -192px -96px;
}
.hicons.ban-circle {
    background-position: -216px -96px;
}
.hicons.arrow-left {
    background-position: -240px -96px;
}
.hicons.arrow-right {
    background-position: -264px -96px;
}
.hicons.arrow-up {
    background-position: -289px -96px;
}
.hicons.arrow-down {
    background-position: -312px -96px;
}
.hicons.share-alt {
    background-position: -336px -96px;
}
.hicons.resize-full {
    background-position: -360px -96px;
}
.hicons.resize-small {
    background-position: -384px -96px;
}
.hicons.plus {
    background-position: -408px -96px;
}
.hicons.minus {
    background-position: -433px -96px;
}
.hicons.asterisk {
    background-position: -456px -96px;
}
.hicons.exclamation-sign {
    background-position: 0 -120px;
}
.hicons.gift {
    background-position: -24px -120px;
}
.hicons.leaf {
    background-position: -48px -120px;
}
.hicons.fire {
    background-position: -72px -120px;
}
.hicons.eye-open {
    background-position: -96px -120px;
}
.hicons.eye-close {
    background-position: -120px -120px;
}
.hicons.warning-sign {
    background-position: -144px -121px;
}
.hicons.plane {
    background-position: -168px -120px;
}
.hicons.calendar {
    background-position: -192px -120px;
}
.hicons.random {
    background-position: -216px -120px;
}
.hicons.comments {
    background-position: -240px -120px;
}
.hicons.magnet {
    background-position: -264px -120px;
}
.hicons.chevron-up {
    background-position: -288px -120px;
}
.hicons.chevron-down {
    background-position: -313px -119px;
}
.hicons.retweet {
    background-position: -336px -120px;
}
.hicons.shopping-cart {
    background-position: -360px -120px;
}
.hicons.folder-close {
    background-position: -384px -120px;
}
.hicons.folder-open {
    width: 16px;
    background-position: -408px -120px;
}
.hicons.resize-vertical {
    background-position: -432px -119px;
}
.hicons.resize-horizontal {
    background-position: -456px -118px;
}
.hicons.hdd {
    background-position: 0px -144px;
}
.hicons.bullhorn {
    background-position: -24px -144px;
}
.hicons.bell {
    background-position: -48px -144px;
}
.hicons.certificate {
    background-position: -72px -144px;
}
.hicons.thumbs-up {
    background-position: -96px -144px;
}
.hicons.thumbs-down {
    background-position: -120px -144px;
}
.hicons.hand-right {
    background-position: -144px -144px;
}
.hicons.hand-left {
    background-position: -168px -144px;
}
.hicons.hand-top {
    background-position: -192px -144px;
}
.hicons.hand-down {
    background-position: -216px -144px;
}
.hicons.circle-arrow-right {
    background-position: -240px -144px;
}
.hicons.circle-arrow-left {
    background-position: -264px -144px;
}
.hicons.circle-arrow-top {
    background-position: -288px -144px;
}
.hicons.circle-arrow-down {
    background-position: -313px -144px;
}
.hicons.globe {
    background-position: -336px -144px;
}
.hicons.wrench {
    background-position: -360px -144px;
}
.hicons.tasks {
    background-position: -384px -144px;
}
.hicons.filter {
    background-position: -408px -144px;
}
.hicons.briefcase {
    background-position: -432px -144px;
}
.hicons.fullscreen {
    background-position: -456px -143px;
}
.hicons.dashboard {
    background-position: 0px -168px;
}
.hicons.paperclip {
    background-position: -24px -168px;
}
.hicons.heart-empty {
    background-position: -48px -168px;
}
.hicons.link {
    background-position: -72px -168px;
}
.hicons.phone {
    background-position: -96px -168px;
}
.hicons.pushpin {
    background-position: -120px -168px;
}
.hicons.euro {
    background-position: -144px -168px;
}
.hicons.usd {
    background-position: -168px -168px;
}
.hicons.gbp {
    background-position: -192px -168px;
}
.hicons.sort {
    background-position: -216px -168px;
}
.hicons.sort-by-alphabet {
    background-position: -240px -168px;
}
.hicons.sort-by-alphabet-alt {
    background-position: -264px -168px;
}
.hicons.sort-by-order {
    background-position: -288px -168px;
}
.hicons.sort-by-order-alt {
    background-position: -313px -168px;
}
.hicons.sort-by-attributes {
    background-position: -336px -168px;
}
.hicons.sort-by-attributes-alt {
    background-position: -360px -168px;
}
.hicons.unchecked {
    background-position: -384px -168px;
}
.hicons.expand {
    background-position: -408px -168px;
}
.hicons.collapse {
    background-position: -432px -168px;
}
.hicons.collapse-top {
    background-position: -456px -168px;
}
.hicons.group {
    background-position: 0px -190px;
}
.hicons.groups {
    background-position: -24px -190px;
}
.hicons.company {
    background-position: -48px -190px;
}
.hicons.radial {
    background-position: -71px -190px;
}
.hicons.col4 {
    background-position: -96px -189px;
}
