#header-wrapper {
    z-index: 6;
    width: 100%;
}
#header {
    background-color: #424242;
}
#header-left-box {
    float: left;
}
#header-center-box {
    float: left;
}
#header-right-box {
    padding-top: 6px;
    padding-right: 3px;
    float: right;
}
#logo {
    /* The pixel must be set for the logo, otherwise
       jQuery.outerHeight returns a wrong value. */
    width: 140px;
    height: 35px;
    padding: 4px 16px 4px 16px;
}
#logo img {
    width: 100%;
    opacity: .85;
}
#nav-top-center {
    float: left;
}
#nav-top-right {
    padding-top: 8px;
    padding-right: 6px;
    color: #ffffff;
    text-align: right;
    float: right;
}
#header-title {
    background-color: #525252;
}
#header-title {
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    margin: 0;
    padding: 4px 0;
    color: #ffffff;
}

/* Top navigation */
#nav-top-1 {
    float: left;
    background-color: #424242;
}
#nav-top-1 ul {
    list-style-type: none;
}
#nav-top-1 ul li {
    display: block;
    float: left;
}
#nav-top-1 ul li a {
    color: #ffffff;
    cursor: pointer;
    padding: 3px 6px;
    line-height: 38px;
    font-weight: 300;
    font-size: 12px;
    float: left;
    text-decoration: none;
    border-bottom: #2f2f2f;
}
#nav-top-1 ul li a:hover {
    text-decoration: none;
    background-color: #525252;
    border-bottom: #525252;
    color: #00ffff;
}
#nav-top-1 .active > a {
    text-decoration: none;
    background-color: #525252;
    border-bottom: #525252;
    color: #00ffff !important;
}
#nav-top-2 {
    background-color: #525252;
}
#nav-top-2 ul {
    list-style-type: none;
}
#nav-top-2 ul li {
    float: left;
}
#nav-top-2 ul li a {
    color: #ffffff;
    padding: 12px 14px;
    line-height: 15px;
    font-size: 13px;
    font-weight: 300;
    text-decoration: none;
    display: block;
    cursor: pointer;
    opacity: .8;
}
#nav-top-2 ul li a div {
    margin-right: 6px;
}
#nav-top-2 ul li a:hover {
    text-decoration: none;
    background-color: #626262;
    color: #00ffff;
    opacity: 1 !important;
}
#nav-top-2 .active > a {
    text-decoration: none;
    opacity: 1 !important;
    color: #00ffff !important;
    background-color: #626262 !important;
}
#nav-top-3 {
    background-color: #626262;
    display: none;
}
#nav-top-3 ul {
    list-style-type: none;
}
#nav-top-3 ul li {
    display: block;
    float: left;
}
#nav-top-3 ul li a {
    color: #ffffff;
    font-size: 13px;
    line-height: 15px;
    padding: 12px 14px;
    text-decoration: none;
    display: block;
    float: left;
}
#nav-top-3 ul li a:hover {
    text-decoration: none;
    color: #00ffff;
}
#nav-top-3 .active > a {
    text-decoration: none;
    color: #00ffff !important;
}

/* Left navigation */
.nav-left-2 {
    list-style-type: none;
    background-color: #e9e9e9;
    padding-top: 20px;
    padding-bottom: 20px;
}
.nav-left-2 li {
    display: block;
}
.nav-left-2 li a {
    color: #404040;
    padding: 8px 2px 8px 16px;
    line-height: 15px;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    display: block;
    cursor: pointer;
}
.nav-left-2 li a div {
    margin-right: 6px;
}
.nav-left-2 li a:hover {
    text-decoration: none;
    color: #404040;
    font-weight: bold;
    background-color: #f6f6f6;
}
.nav-left-2 .active > a {
    text-decoration: none;
    color: #404040 !important;
    font-weight: bold !important;
    background-color: #f6f6f6;
}
.nav-left-3 {
    background-color: #f6f6f6;
    list-style-type: circle !important;
    padding-left: 14px;
}
.nav-left-3 li {
    display: block;
}
.nav-left-3 li a {
    color: #404040;
    font-size: 13px !important;
    line-height: 15px;
    padding: 8px 14px;
    text-decoration: none;
    display: block;
}
.nav-left-3 li a:hover {
    text-decoration: none;
    color: #404040 !important;
    font-weight: bold !important;
}
.nav-left-3 .active > a {
    text-decoration: none;
    color: #404040 !important;
    font-weight: bold !important;
}
