#header-wrapper {
    width: 100%;
    z-index: 5;
}
#header {
    background-color: #424242;
    /*
    -webkit-box-shadow: inset 0 -3px 2px rgba( 0,0,0,0.28 ), inset 0 -1px 0 #222, 0 1px 3px rgba( 0,0,0,0.5 );
    -moz-box-shadow: inset 0 -3px 2px rgba( 0,0,0,0.28 ), inset 0 -1px 0 #222, 0 1px 3px rgba( 0,0,0,0.5 );
    box-shadow: inset 0 -3px 7px rgba( 0,0,0,0.28 ), inset 0 0 0 #222, 0 1px 3px rgba( 0,0,0,0.5 );
    */
}
#logo {
    /* The pixel must be set for the logo, otherwise
       jQuery.outerHeight returns a wrong value. */
    width: 140px;
    height: 35px;
    padding: 4px 16px 4px 16px;
    float: left;
}
#logo img {
    width: 100%;
    opacity: .85;
}
#headerbox {
    padding-top: 8px;
    padding-right: 6px;
    color: #ffffff;
    text-align: right;
    float: right;
}
#nav-top {
    float: left;
}
#nav-top ul {
    list-style-type: none;
}
#nav-top ul li {
    display: block;
    float: left;
}
#nav-top ul li a {
    color: #ffffff;
    cursor: pointer;
    padding: 3px 16px;
    line-height: 38px;
    font-weight: 100;
    font-size: 12px;
    float: left;
    text-decoration: none;
    border-bottom: #2f2f2f;
}
#nav-top ul li a:hover {
    text-decoration: none;
    background-color: #525252;
    border-bottom: #525252;
    color: #00ffff;
}
.nav-top-active > a {
    text-decoration: none;
    background-color: #525252;
    border-bottom: #525252;
    color: #00ffff !important;
    opacity: 1 !important;
}
#nav-main, #header-title {
    background-color: #525252;
}
#header-title {
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    margin: 0;
    padding: 4px 0;
    color: #ffffff;
}
#nav-main ul {
    list-style-type: none;
}
#nav-main ul li {
    float: left;
}
#nav-main ul li a {
    color: #ffffff;
    padding: 12px 14px;
    line-height: 15px;
    font-size: 13px;
    font-weight: 300;
    text-decoration: none;
    display: block;
    cursor: pointer;
    opacity: .8;
}
#nav-main ul li a div {
    margin-right: 6px;
}
#nav-main ul li a:hover {
    text-decoration: none;
    background-color: #626262;
    color: #00ffff;
    opacity: 1 !important;
}
.nav-main-active > a {
    text-decoration: none;
    opacity: 1 !important;
    color: #00ffff !important;
    background-color: #626262 !important;
}
#nav-sub {
    width: 100%;
    background-color: #626262;
    display: none;
}
#nav-sub ul {
    list-style-type: none;
}
#nav-sub ul li {
    display: block;
    float: left;
}
#nav-sub ul li a, #nav-sub p {
    color: #ffffff;
    font-size: 13px;
    line-height: 15px;
    padding: 12px 14px;
    text-decoration: none;
    display: block;
    float: left;
}
#nav-sub ul li a:hover {
    text-decoration: none;
    color: #00ffff;
}
.nav-sub-active > a {
    text-decoration: none;
    color: #00ffff !important;
}
