Source: bloonix-webgui
Section: net
Priority: extra
Maintainer: Jonny Schulz <js@bloonix.de>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.3
Homepage: http://www.bloonix.de/

Package: bloonix-webgui
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, bloonix-webgui-core
Description: Bloonix WebGUI
 This is the web application of Bloonix.
