<!DOCTYPE html>
<html lang="<%= $stash->{meta}->{lang} %>">
<!--

    COOL ADMINS USES
     _    __ _____ _____ __  __ __ __   __           
    | |__|  |     |     |  \|  |__|\  \/  /
    |  . |  |  |  |  |  |      |  | >    <
    |____|__|_____|_____|__|\__|__|/__/\__\

    http://bit.ly/1hLDpTl

-->
<head>
<title>Bloonix Monitoring</title>
<meta charset="UTF-8" />
<meta name="author" content="Bloonix Online Services" />
<meta name="description" content="Bloonix is a real time system monitoring solution." />
<meta name="robots" content="noindex, nofollow" />
<link rel="shortcut icon" href="/public/img/favicon.ico" />
<link rel="stylesheet" href="/public/css/misc.min.css" />
<link rel="stylesheet" href="/public/css/bloonix.min.css?v=16" media="screen" />
<link rel="stylesheet" href="/public/css/print.css?v=1" media="print" />
<script src="/public/js/jquery.min.js?v=1"></script>
% if ($stash->{meta}->{chart_library} eq 'highcharts') {
<script src="/public/js/highcharts.min.js?v=5"></script>
% } else {
<script src="/public/js/other.min.js?v=1"></script>
% }
<script src="/public/js/misc.min.js?v=3"></script>
<script src="/public/js/bloonix.min.js?v=<% data.version %>"></script>
<script>$(document).ready(function(){Bloonix.init(<% data.init %>)});</script>
</head>
<body>
</body>
</html>
